In [1]:
# !pip install keplergl

In [1]:
import geopandas as gpd
import pandas as pd
from shapely.geometry import Point
from keplergl import KeplerGl
from datetime import datetime

In [3]:
total_data = pd.read_csv('C:/Users/potat/OneDrive/Wooserk/01_project/Github/Kepler-Mapping/02_data/02_combined/total_cl.csv')
total_data.head()

,state,county,GEOID,year,month,day,cases,new_cases,total_spend,assistance_outlay,contract_outlay,ppp_outlay,deaths,edate1,ma_new_cases,new_deaths,ma_new_deaths
0,Alabama,Autauga,1001,2020,3,24,1,3.0,0.0,0.0,0.0,0.0,0.0,24mar2020,NaN,0.0,NaN
1,Alabama,Autauga,1001,2020,3,25,4,2.0,0.0,0.0,0.0,0.0,0.0,25mar2020,NaN,0.0,NaN
2,Alabama,Autauga,1001,2020,3,26,6,0.0,0.0,0.0,0.0,0.0,0.0,26mar2020,NaN,0.0,NaN
3,Alabama,Autauga,1001,2020,3,27,6,0.0,0.0,0.0,0.0,0.0,0.0,27mar2020,0.857143,0.0,0.0
4,Alabama,Autauga,1001,2020,3,28,6,0.0,0.0,0.0,0.0,0.0,0.0,28mar2020,0.857143,0.0,0.0

In [4]:
county = gpd.read_file('C:/Users/potat/OneDrive/Wooserk/01_project/Github/Kepler-Mapping/02_data/03_countyshape/tl_2019_us_county.shp')

In [5]:
import leafmap.kepler as leafmap
m = leafmap.Map(center=[40, -100], zoom=2, height=600, widescreen=False)
m

Map(config={'version': 'v1', 'config': {'mapState': {'latitude': 40, 'longitude': -100, 'zoom': 2, 'bearing': …

In [9]:
map_1 = KeplerGl(height=800)
map_1

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

KeplerGl(height=800)

In [10]:
map_1.add_data(data=total_data, name='county')

In [11]:
map_1

KeplerGl(data={'county': {'index': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, …

In [12]:
m.save_to_html(file_name='C:/Users/potat/OneDrive/Wooserk/01_project/Github/COVID-19/04_htmldaily_combined_map1.html')

Map saved to C:/Users/potat/OneDrive/Wooserk/01_project/Github/COVID-19/04_htmldaily_combined_map1.html!

In [3]:
import pandas as pd
total_combined = pd.read_csv('/Users/sky/OneDrive/Wooserk/01_project/COVID/1_data/output/Cleaned/total_cl3.csv')
total_combined.head()

,state_name,state_code,week_beginning,week,cumulative_cases,cumulative_deaths,cumulative_recovered
0,Alabama,AL,1/20/2020,4,0,0,0
1,Alabama,AL,1/27/2020,5,0,0,0
2,Alabama,AL,2/3/2020,6,0,0,0
3,Alabama,AL,2/10/2020,7,0,0,0
4,Alabama,AL,2/17/2020,8,0,0,0

In [4]:
m.add_data(data=total_combined, name='county')

In [5]:
m

Map(config={'version': 'v1', 'config': {'mapState': {'latitude': 40, 'longitude': -100, 'zoom': 2, 'bearing': …

In [22]:
#m.save_to_html(file_name="assistance_prac1.html")

Map saved to assistance_prac1.html!